services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      - SPRING_FLYWAY_URL=jdbc:postgresql://postgres:5432/resources
      - SPRING_FLYWAY_USER=postgres
      - SPRING_FLYWAY_PASSWORD=postgres
      - SPRING_FLYWAY_SCHEMAS=public
      - SPRING_FLYWAY_LOCATIONS=classpath:migrations
      - SPRING_R2DBC_URL=r2dbc:postgresql://postgres:5432/resources
      - SPRING_R2DBC_USERNAME=postgres
      - SPRING_R2DBC_PASSWORD=postgres
    depends_on:
      - postgres
      - rabbitmq
  postgres:
    image: postgres:17.2-alpine3.20
    environment:
      - POSTGRES_DB=resources
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_USER=postgres
    ports:
      - "5432:5432"
  rabbitmq:
    image: rabbitmq:3.9.29-alpine
    environment:
      - RABBITMQ_DEFAULT_PASS=secret
      - RABBITMQ_DEFAULT_USER=myuser
    ports:
      - "5672:5672"
